html{
	background-image: url('\../static/website/background.jpg');
	background-attachment: fixed;
	background-position:center center;
	background-size:cover;
	display: block;
	box-sizing: border-box;
	height: 100%;
}
body{
	width: 65%;
	margin:0 auto;
	background-color: rgba(88, 52, 40, 0.69);
	background-size: contain;
	background-attachment: fixed;
	box-sizing: border-box;
	display: block;
	min-height: 100%;
}

@media screen and (max-width: 1000px) {
    body {
        width: 100%;
    }
    
}

div#hmenu {
   margin: auto auto;
   height: 5em;
   background: #ED7A43;
   width: 100%;
   text-align: center;
   position: fixed;
   top:0;
   left:0;
   border-bottom:1px solid;
   box-shadow: 0 1px 15px 1px;
   box-sizing: border-box;
} 

.card,.cardEvent{
    background-color: #F5943E;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    box-shadow: 5px 5px 5px 1px;
    padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.cardEvent#postSection div#Posts{
    margin-bottom: 20px;
}
.cardEvent#postSection div#Posts h3, i,p{
    display: inline;
    margin-right: 25px;

}

div#Posts h3,p,i{
    display: inline;

}

div#Posts{
    margin-top: 5%;
    text-align: center;
}

div#Posts h3, div#Posts p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-right: 3%;
    font-size: 2em;

}

div#Posts p{
    margin-right: 0px;
}

.cardEvent#postSection div#Posts p{
    margin-right: 2px;
}

 .cardEvent#newCmt{
    border-radius: 15px;
    background-color: #FFB266;
    margin-bottom: 10px;
}

.cardEvent#comment{
    border-top-width: 150px;
    background-color: #FFB266;.
    height: 15px;
    margin-bottom: 0px;
    margin-top: 15px;

   box-shadow: 0px 0px 0px 0px;
}

.cardEvent#newCmt{
    margin-top: 5%;
}

.cardEvent#post{
    margin-top: 25px;

}


.cardEvent#post h4, .cardEvent#comment h4{
    font-size:1.4em; 
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 2%;
}

.cardEvent#comment img, .cardEvent#comment h4, .cardEvent#comment p#info{
    display: inline;
}

.cardEvent#post img, .cardEvent#post h4, .cardEvent#post p{
    display: inline;
}

.cardEvent#post{
   // text-align: center;
}

.cardEvent#post p#info, .cardEvent#comment p#info{
    font-size:1.1em; 
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 4%;

}

.cardEvent#comment p#date{
    font-size: 0.7em;
    float: right;

}

.cardEvent#comment p{
    display: inline;
}
.cardEvent#comment img#profilePhoto, .cardEvent#post img#profilePhoto{
    width: 7%;
    height: 7%;
  
}

.fa-comment{
    color: white;
}

.cardEvent#newCmt button#button{
    width: 10%;
    height: 30px;
    background-color: #D05B3A;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #762E18;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
    margin-left: 5%;
}
.cardEvent#newCmt {
    width: 70%;border-left: 
}
.cardEvent#newCmt textarea#commentText{
    width: 75%;
    height: 75%;
    margin-top: 1%;
    margin-left: 3%;
    resize: none;
    border-color: #D05B3A;
    border-width: 3px;
    border-radius: 5px;
    background-color: #FFC991;
}

.cardEvent#newCmt textarea#commentText,input{
    outline: none;
}
.card:hover{
    background-color:rgba(178,93,56,1);
}

.card h1,.cardEvent h1 {
    margin:0px;
    padding-bottom:0px;
    display: inline-block;
    width: 40%;
}
.card .descText,.cardEvent .descText {
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    padding: 0px;
    border: 0px;
    /* vertical-align: middle; */
    width: 80%;
    box-sizing: border-box;
    padding-right: 1em;
    text-align: justify;
    float: left;
    /* overflow: auto; */
}
.card-image {
    width:100%;
    height:200px;
    padding:0px;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}

.card .imgContainer,.cardEvent .imgContainer {
display: inline-block;vertical-align: top;width: 49%;height: 100%;overflow: hidden;}

.desc {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.imgContainer img{
    width: 100%;
    height: 100%;
}

img#logo {
height: 80%;width: auto;float: left;margin-left: 1em;border-radius: 50%;margin-right: 1em;}

div#containerNavBar {
    display: inline-block;
    width: 65%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}


@media screen and (max-width: 1000px) {
div#containerNavBar{
        width:100%
    }
}

.nav {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 0.5em auto;
    padding: 0;
}

.nav li {
    float: left;
    list-style-type: none;
    position: relative;
    margin: auto 1%;
    display: inline-block;
}

.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: rgba(178,93,56,1);
}
.nav li#profile:hover{
    /* background-color: rgba(178,93,56,1); */
}

#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}

li#search {
    width: 45%;
    height: 80%;
    margin-left: 5%;
}
#search_text{
    width: 85%;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 0 none;
    height: 100%;
    margin-right: 0;
    color: white;
    outline: none;
    background: rgba(88, 52, 40, 0.69);
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus,#search_button:hover{
    background: rgba(88, 52, 40, 0.4);
}
#search_button {
    border: 0 none;
    background: rgba(88, 52, 40, 0.69) center no-repeat;
    width: 15%;
    float: left;
    padding: 0;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: auto;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    padding: 0;
}
.subnav li {
    float: none;
    width: 100%;
}
.subnav li a {
    background: rgba(88, 52, 40, 1);
    padding: 0;
}

.subnav li a:hover {
    border-bottom: 1px solid rgba(88, 52, 40, 0.4);
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

img#logo:hover {
    box-shadow: 0px 2px 3px 0px;
}

li#profile {
    width: 15%;
    /* float: right; */
}
li#options{
    float:right;
    padding: 0;
}

#search form {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
}

div#contNameOptions {
    display: table;
    width: 100%;
    overflow: hidden;
    position: relative;
}

div#options {
    height: 100%;
    width: 20%;
    margin: 0 auto;
    padding: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

i#addUser {
    cursor: pointer;
}

i#editEvent {
    cursor: pointer;
}
i#deleteEvent{
    cursor:pointer;
}

.modalDialog {
    display:none;
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    transition: opacity 1500ms ease-in;
}

.modalDialog > div {
	width: 30em;
	position: relative;
	margin: 10% auto;
}

.form label,.form label{
    font-family: 'Open Sans', sans-serif;
}

.form input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px 0 50px;
    outline: none;
}

.form input:focus{
    border: 1px solid #762E18;
}

.form button {
    width: 40%;
    height: 40px;
    background-color: #D05B3A;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #762E18;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 4%;
}

.form button:hover{
    background: #762E18;
}

div#selectOption {
    box-sizing: border-box;
    margin-bottom: 3%;
}



li.listUsers {
    width: 80%;
    height: 3em;
    margin: 0 auto;
    display: table;
}

div#goes {
    display: table-cell;
    padding: 0;
    height: 100%;
    width: auto;
    margin: auto;
    vertical-align: middle;
}

div#name {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
}

div#add {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

ul#listUser {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 25em;
    overflow: auto;
}

.form {
    padding: 5px 20px 20px 20px;
    background: #fff;
    border-top: 5px solid #D05B3A;
}

div#newEventContainer {
    margin: 0 20%;
    padding: 2em;
}

button#create {
}

.form div#choosePublic {
    width: 90%;
    height: 42px;
    display: table;
    margin: 0 auto;
}

input#publicRadio {
    width: 35%;
    height: 42px;
    display: table-cell;
    vertical-align: middle;
}

input#privateRadio {
    width: 35%;
    height: 42px;
    display: table-cell;
    vertical-align: middle;
}

label#publicLabel {
    width: 15%;
    height: 42px;
    display: table-cell;
    padding: 0;
    vertical-align: middle;
}

label#privateLabel {
    width: 15%;
    display: table-cell;
    height: 42px;
    vertical-align: middle;
}


div#inviteUserModal {
    height: 30em;
    padding: 2em;
}

form#inviteUserForm {
    width: 80%;
    margin: 0 auto;
}

.imgContainerPage {
    width: 100%;
    height: 25em;
}

.cardEventPage {margin: 0 auto;box-shadow: 5px 5px 5px 1px;font-family: 'Open Sans', sans-serif;}

.imgContainerPage img {
    width: 100%;
    height: 100%;
}

.eventInfo {
    background: #ED7A43;
    margin: 0 auto;
    padding: 1em 4em 1em 4em;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.eventInfoContent .name h1 {
    margin: 0 0.5em 0 0;
    display: inline-block;
}

.eventInfoContent {
    display: table-cell;
}

.options {
    display: table-cell;
    box-shadow: 5px 5px 5px 1px;
    background: rgba(178,93,56,1);
    padding: 1em;
    width: 25%;
}

.options label {
    cursor: pointer;
    width: 100%;
    display: table-row;
    margin: 0 auto;
    font-size: large;
}

.cardEventPage .name {
    display: block;
    width: auto;
    margin: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
}

div#profileButton{
    display:inline-block;
}



div#User {
    display:inline-block;
}



.UserImage {
    margin: 0 auto;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}


.UserInfo {
    /* margin-left: 40%; */
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    /* top: 50%; */
    /* left: 50%; */
}

ul.InfoList {
list-style-type: none;/* margin-left: 0; *//* margin-right: 0; */width: 100%;height: 100%;-webkit-padding-start: 0px;-webkit-margin-before: 0em;-webkit-margin-after: 0em;}



.profileButton {
    width: 100%;
    display: table;
    /* vertical-align: middle; */
}

.profileButtonImage {
    height: 100%;
    display: table-cell;
    margin: 0 auto;
    width: 30%;
    vertical-align: middle;
}

.profileButtonText {
    width: 50%;
    display: table-cell;
    box-sizing: border-box;
    margin: 0 auto;
}


.name i {
    display: inline-block;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 5em;
}

.spacer {
     font-family: 'Open Sans', sans-serif;
     font-size: large;
     color: white;
}

.CardInfo {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}


span.statusInvite {margin-left: 2rem;}

.footer {
    background: #ffab62;
    border-top: 1px solid #ff4b02;
    color: #333;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}
.footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

table.gridtable {
    width: 100%;
}

.gridtable img {
    width: 100%;
}


td {
    width: 33%;
}

button #close {
    width: 100%;
    margin: 0 auto;
}

button#close {
    width: 100%;
    margin: 0 auto;
}

.profileButton:hover {
    background-color: rgba(178,93,56,1);
}

.User {
    /* color: blue; */
    background-color: #F5943E;
    box-shadow: 5px 5px 5px 1px;
    padding: 1em;
    display: table;
    margin-top: 5%;
    width: 100%;
}